{% extends "../public/base.njk" %}
{% block titulo %}Juegos | Nuevo{% endblock %}
{% block contenido %}
    <h1>Insertar nuevo juego</h1>
    <form action="/juegos" method="post">
            <div class="form-group mb-3">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre del juego..."/>
            </div>
            <div class="form-group mb-3">
                <label for="descripcion">Descripción:</label>
                <input type="text" class="form-control" name="descripcion" placeholder="Descripción del juego..."/>
            </div>
            <div class="form-group mb-3">
                <label for="edad">Edad:</label>
                <input type="number" class="form-control" name="edad" placeholder="0"/>
            </div>
            <div class="form-group mb-3">
                <label for="jugadoresPermitido">Jugadores permitidos:</label>
                <input type="number" class="form-control" name="jugadoresPermitido" placeholder="0"/>
            </div>
            <div class="form-group mb-3">
                <select name="tipo" id="tipo">
                    <option value="rol">Rol</option>
                    <option value="escape">Escape</option>
                    <option value="dados">Dados</option>
                    <option value="fichas">Fichas</option>
                    <option value="cartas">Cartas</option>
                    <option value="tablero">Tablero</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="precio">Precio:</label>
                <input type="number" class="form-control" name="precio" placeholder="10"/>
            </div>
             <div class="form-group mb-3">
                <label for="imagen">Imagen:</label>
                <input type="file" name="imagen" id="imagen">
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
{% endblock %}